@media only screen and (max-width: 480px) {
#container 
{
    width: auto; 
    height:auto;
    margin:0 0;

}
#content
{
    width: 100%; 
    border:none;
}
#content p
{
    margin:3px;
}
#cssmenu{
    height:270px;
    width:98%;
    margin:3px;
    padding-top:0;
    padding-bottom:0;
    padding:0 0;
    background:#6E9C8E;
}
#nav a
{
    display:block;
    border: double 2px #417A69;
    padding: 14px;
}
  
table{
    border-collapse: collapse; 
    width:auto;
}
table td, th {
    border: 1px solid  #417A69;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #275D4D;
    color: black;
} 
ol li
{
    width:90%;
    text-align:left;
}
ul li
{
    text-decoration:none;
    text-align:left;
}  
dt, dd{
    width:90%;
    
}
dd{
    font-size:12px;
}  
body
{
    margin-right:0;
    background-color:#AFD0C6;

}  
h1{
    margin-top:0;
}
header{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.linkcontent{
    margin-left:0;
    margin-right:10%;
    text-align:center;
}
.linkcontent2
{
    display:block;
    color: Black;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:5px;
    border: double 5px #417A69;
}  
body, html{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#pictures
{
    margin:15px;
    margin-left:15%;
    margin-right:auto;
    width:70%;
    height:70%;
    
}
video{
    margin-left:5%;
    margin:10px;
    width:auto;
    height:auto;
}
#vector{
    margin:15px;
    margin-left:10%;
    width:200px;
    height:200px;
}
#tablecontent{
    overflow: auto; 
    overflow-y: hidden;
}  
  
.contact
{
width:200px;    
text-align: left;
font-weight:bold;
}
.contact legend
{
font-weight:bolder;
}
.contact input[type="checkbox"]
{
    font-size:12px;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
}
label, input{
    font-size:12px;
}
label{
    text-align:left;
}
.contact input[type="text"]
{
  display: block;
  margin: 0;
  width: 170px; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #01ABFF;
  box-shadow: 0 0 2px 1px #01ABFF;
}
.contact textarea
{
    font-size:15px;
    background: #fff; 
    border: 1px solid #01ABFF; 
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    color: #666; 
    outline:blue; 
    height:100px; 
    width: 100%; 
}
.contact input[type="submit"], input[type="reset"]
{
    font-size: 15px;
    display:block;
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:10px;
    border: double 5px #417A69;
    float:left;
}  
.contact fieldset
{
    width:90%;
    border: double 3px #417A69;
}
.contact fieldset ul li
{
    vertical-align:baseline;
    float:left;
    margin:10px;
}
.select
{
    background: #fff;
    width: 250px;
    font-size: 15px;
    line-height: 1;
    border: 1px solid #01ABFF; 
    outline:blue;
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    height: 34px; 
}  
#kontakt-formular
{
    width: auto;
    margin: 0 auto;
}  
  
#container 
{
    width: auto; 
    height:auto;
    margin:0 0;

}
main
{
    width: 100%; 
    border:none;
}
main p
{
    margin:3px;
}
#cssmenu{
    height:270px;
    width:98%;
    margin:3px;
    padding-top:0;
    padding-bottom:0;
    padding:0 0;
    background:#6E9C8E;
}
nav a{
    display:block;
    border: double 2px #417A69;
    padding: 14px;
}
video{
    width:98%;
}
  
  
}