@media only screen and (max-device-width: 480px) {
#container 
{
    background-color:#417A69;
    width: auto; 
    height:auto;
    font-family:helvetica;
    margin:0 0;

}
#content
{
    float:right;
    width: 100%; 
    background: #DCFFF5;
    text-align:left;
    border:none;
}
#content p
{
    margin:0;
}
#cssmenu{
    height:270px;
    width:98%;
    margin:3px;
    padding-top:0;
    padding-bottom:0;
    padding:0 0;
    background:#6E9C8E;
    text-align: center;
}
#cssmenu p
{
    font-weight:bold;
}

#nav{
    font-weight:bold;
    margin:0;
    padding: 0;
    list-style-type: none;
}
#nav li{
    margin-top:0px;
}
#nav ul li a{
    text-decoration: none;
    padding: 14px 14px;
    color: pink;
    display:block;
}
#nav a
{
    background-image: url(pictures/sprite.png);
    background-repeat:no-repeat;
    display:block;
    border: double 2px #417A69;
    padding: 14px;
    color: black;
    text-align:center;
    text-decoration:none;
}
#nav a:hover
{
    color: #fff;
    background-color: #369;
}
  
table{
    border-collapse: collapse; 
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
table td, th {
    border: 5px solid  #417A69;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #275D4D;
    color: black;
} 
ol li
{
    text-align:left;
}
ul li
{
    text-decoration:none;
    text-align:left;
}  
dt, dd{
    width:90%;
    
}
dd{
    font-size:20%;
}  
body
{
    margin-right:0;
    background-color:#AFD0C6;

}  
header{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.linkcontent2
{
    display:block;
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:10px;
    border: double 5px #417A69;
}  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}