body { 
  color : #000000; 
  background : #ffffff; 
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt; 
  border:solid 0px;
  text-align:left;
  float:left;
}
a { 
  text-decoration : underline; 
  color : #0000ff; 
    border:none;
}
header
{
    display:none;
}
#container
{
    background-color:white;
}
#cssmenu, #nav, #nav li, #nav a{ 
  display : none; 
  border:none;
}
#content
{
    float:left;
    border-color:white;
    background-color:transparent;
    text-align:left;
    border:none;
}
.right
{
    float:right;
    border:none;
}
h2
    {
    border-bottom: none;
    text-align:left;
    }
h3
    {
        border-bottom: none;
    }  
table{
    margin-left:auto;
    margin-right:auto;
}
table td, th {
    border:solid 1px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color:white;
    color: black;
}    
a:after
{
  content:" (" attr(href) ") ";
  font-size:0.8em;font-weight:normal;
}
video
{
  display:none;
}

.contact
{
text-align: left;
font-weight:bold;
}
.contact legend
{
font-weight:bolder;
}
.contact input[type="checkbox"]
{
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
}
.contact input[type="text"]
{
    font-size:15px;
    background: #fff; 
    border: 1px solid #01ABFF; 
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    color: #666; 
    outline: blue; 
    height:23px; 
    width: 260px; 
    margin:20px;
    margin-left:20px;
}
.contact textarea
{
    font-size:15px;
    background: #fff; 
    border: 1px solid #01ABFF; 
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    color: #666; 
    outline:blue; 
    height:100px; 
    width: 445px; 
    max-width:450px;
}
.contact input[type="submit"], input[type="reset"]
{
    font-size: 15px;
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color:transparent;
    font-weight:bold;
    margin:10px;
    border: solid 1px;
}

.contact fieldset
{
    border:solid 2px;
}
.contact fieldset ul li
{
    vertical-align:baseline;
    display:inline;
    margin-right:20px;
    
}
.select
{
    background: #fff;
    width: 250px;
    font-size: 15px;
    line-height: 1;
    border: 1px solid transparent; 
    outline:none;
    border-radius: 5px; 
    height: 34px; 
}
#email, #name
{
    padding-left:10px;
}
.linkcontent
{
    display:none;
}