#container 
{
    width: auto; 
    background: #b0e0e6;
    height:auto;
    font-family:helvetica;

}
#content
{
   width: 854px; 
   background: #FFFFDE;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
   border: double 8px #b0e0e6;
} 
.linkcontent
{
    list-style-type:none;
}
.linkcontent2
{
    display:block;
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #4DC0D0;
    font-weight:bold;
    margin:10px;
    margin-left:35%;
    margin-right:40%;
    border: double 5px #b0e0e6;
}
.linkcontent2:hover
{
    color: #fff;
    background-color: #369;
}
.h3content
{
    background-image: url(pictures/drawing.svg);
    background-repeat:no-repeat;
    padding-left:16px;
}


#cssmenu{
    position:fixed;    
    float:left;
    height: 500px;
    padding-top:40px;
    padding-bottom:100px;
    text-align: center;
    background: linear-gradient(#b0e0e6,#4DC0D0,#4DC0D0,#4DC0D0,#4DC0D0,#4DC0D0,#4DC0D0,#4DC0D0,#b0e0e6);
}
#cssmenu p
{
    font-weight:bold;
}
#nav{
    background-color: #4DC0D0;
    font-weight:bold;
    margin:0;
    padding: 0;
    list-style-type: none;
}
#nav li{
    margin-top:0px;
}
#nav a
{
    display:block;
    border: double 8px #b0e0e6;
    padding: 50px;
    color: black;
    text-align:center;
    text-decoration:none;
}
#nav a:hover
{
    color: #fff;
    background-color: #369;
}
#pic
{
    float:left;
    position:absolute;
    width:200px;
    height:150px;
}
#pictures
{
    margin-left:240px;
}
#kontakt-formular
{
    width: 427px;
    margin: 0 auto;
}
.right
{
float:right;
border:double 6px #b0e0e6;
}
.active
{
    text-align:center;
    background-color: #00515C;
}
.logo
{
    background-image: url(../pics/Logga.png);
    background-repeat:no-repeat;
}

h1
    {
    padding-top:55px;    
    height:150px;    
    text-align: center;
    vertical-align: middle;
    } 
h2
    {
    border-bottom: double 8px #b0e0e6;
    text-align:center;
    }
h3
    {
        border-bottom: double 8px #b0e0e6;
    }    
header 
    {
    background-position:center 10px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size:25px;
    text-align:center;
    background: #6DC0CB;
    border-bottom: double 8px #b0e0e6;
    }
footer 
    {
    padding-top:10px;    
    font-size:20px;    
    text-align:left;    
    height: 70px;
    background: #6DC0CB;
    border-top: double 8px #b0e0e6;
    }
ol li
{
    text-align:left;
}
ul li
{
    text-decoration:none;
    text-align:left;
}
table{
    margin-left:auto;
    margin-right:auto;
}
table td, th {
    border: 5px solid  #b0e0e6;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #6DC0CB;
    color: black;
}
/*table
{
    border: double 8px #b0e0e6;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
table tfoot tr th
{
    border: double 3px black;
}*/
html
{
    background-color:#b0e0e6;
}
.writtenby
{
    font-size:70%;
    font-style:italic;
    text-align:right;
}
