#container 
{
    background-color:#417A69;
    width: 1024px; 
    height:auto;
    font-family:helvetica;
    margin:0 auto;

}
#content
{
    float:right;
    width: 800px; 
    background: #DCFFF5;
    text-align:left;
    border: double 8px #417A69;
}
#content p
{
    margin:20px;
}
.linkcontent
{
    list-style-type:none;
}
.linkcontent2
{
    display:block;
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:10px;
    margin-left:35%;
    margin-right:40%;
    border: double 5px #417A69;
}
.linkcontent2:hover
{
    color: #fff;
    background-color: #369;
}
.h3content
{
    background-image: url(pictures/drawing.svg);
    background-repeat:no-repeat;
    padding-left:16px;
}
.right
{
    float:right;
    border:double 6px #417A69;
}
.active
{
    text-align:center;
    background-color: #00515C;
}
/*.logo
{
    color:#C1EFE1;
    background-image: url(../pics/Logga.png);
    background-repeat:no-repeat;
}*/
.writtenby
{
    font-size:70%;
    font-style:italic;
    text-align:right;
}
.index{
    background-position:0 -24px;
}
.index:hover{
    background-position:0 24px;
}
.laborationer{
    background-position:0 -120px;
}
.laborationer:hover{
    background-position:0 -72px;
}
.presentation{
    background-position:0 -218px;
}
.presentation:hover{
    background-position:0 -170px;
}
.kontakt{
    background-position:0 -312px;
}
.kontakt:hover{
    background-position:0 -264px; 
}
#cssmenu{
    float:left;
    width:200px;
    height: 500px;
    padding-top:40px;
    padding-bottom:100px;
    text-align: center;
    background: linear-gradient(#417A69,#6E9C8E,#6E9C8E,#6E9C8E,#6E9C8E,#6E9C8E,#6E9C8E,#6E9C8E,#417A69);
}
#cssmenu p
{
    font-weight:bold;
}
#nav{

    font-weight:bold;
    margin:0;
    padding: 0;
    list-style-type: none;
}
#nav li{
    margin-top:0px;
}
#nav ul li a{
    text-decoration: none;
    padding: 24px 24px;
    color: pink;
    display:block;
}
#nav a
{
    background-image: url(pictures/sprite.png);
    background-repeat:no-repeat;
    display:block;
    border: double 5px #417A69;
    padding: 24px;
    color: black;
    text-align:center;
    text-decoration:none;
}
#nav a:hover
{
    color: #fff;
    background-color: #369;
}
#pic
{
    float:left;
    position:absolute;
    width:200px;
    height:150px;
}
#pictures
{
    margin-left:240px;
}
#kontakt-formular
{
    width: 427px;
    margin: 0 auto;
}
h1
    {
    padding-top:55px;    
    height:150px;    
    text-align: center;
    vertical-align: middle;
    } 
h2
    {
    border-bottom: double 8px #417A69;
    text-align:center;
    }
h3
    {
        border-bottom: double 8px #417A69;
    }
header 
    {
    background-position:center 10px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
    text-align:center;
    background: #275D4D;
    border-bottom: double 8px #417A69;
    color:#C1EFE1;
    background-image: url(../pics/Logga.png);
    background-repeat:no-repeat;
    }
footer 
    {
    padding-top:10px;    
    font-size:15px;
    font-style:italic;
    text-align:center;    
    height: 70px;
    background: #275D4D;
    clear:both;
    margin-bottom:20px;
    }
ol li
{
    text-align:left;
}
ul li
{
    text-decoration:none;
    text-align:left;
}
table{
    margin-left:auto;
    margin-right:auto;
}
table td, th {
    border: 5px solid  #417A69;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #275D4D;
    color: black;
}
body
{
    background-color:#AFD0C6;
    margin:0;
}

.contact
{
text-align: left;
font-weight:bold;
}
.contact legend
{
font-weight:bolder;
}
.contact input[type="checkbox"]
{
    display:inline-block;
    width:19px;
    height:19px;
    vertical-align:middle;
    cursor:pointer;
}
.contact input[type="text"]
{
    font-size:15px;
    background: #fff; 
    border: 1px solid #01ABFF; 
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    color: #666; 
    outline: blue; 
    height:23px; 
    width: 260px; 
    margin:20px;
    margin-left:20px;
}
.contact textarea
{
    font-size:15px;
    background: #fff; 
    border: 1px solid #01ABFF; 
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    color: #666; 
    outline:blue; 
    height:100px; 
    width: 445px; 
    max-width:450px;
}
.contact input[type="submit"], input[type="reset"]
{
    font-size: 15px;
    display:block;
    display: inline-block; 
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:10px;
    border: double 5px #417A69;
}
/*.contact input[type="reset"]
{
    font-size: 15px;
    display:block;
    display: inline-block; 
    color: Black;
    text-align:center;
    text-decoration:none;
    background-color: #6E9C8E;
    font-weight:bold;
    margin:10px;
    border: double 5px #417A69;
}*/
.contact input[type="reset"]:hover , input[type="submit"]:hover
{
    color: #fff;
    background-color: #369;    
}
.contact fieldset
{
    border:double 8px #6E9C8E;
}
.contact fieldset ul li
{
    vertical-align:baseline;
    display:inline;
    margin-right:20px;
    
}
.select
{
    background: #fff;
    width: 250px;
    font-size: 15px;
    line-height: 1;
    border: 1px solid #01ABFF; 
    outline:blue;
    border-radius: 5px; 
    box-shadow: 0 0 2px 1px #01ABFF; 
    height: 34px; 
}
#email, #name
{
    padding-left:10px;
}


/* -------------------------html5 för index------------------------- */

nav{

    font-weight:bold;
    margin:0;
    padding: 0;
    list-style-type: none;
}
nav li{
    margin-top:0px;
}
nav ul li a{
    text-decoration: none;
    padding: 24px 24px;
    color: pink;
    display:block;
}
nav a
{
    background-image: url(pictures/sprite.png);
    background-repeat:no-repeat;
    display:block;
    border: double 5px #417A69;
    padding: 24px;
    color: black;
    text-align:center;
    text-decoration:none;
}
nav a:hover
{
    color: #fff;
    background-color: #369;
}
main
{
    float:right;
    width: 800px; 
    background: #DCFFF5;
    text-align:left;
    border: double 8px #417A69;
}
article p{
margin:20px;
}
article {
    border-bottom: double 8px #417A69;
}
#hcard-Jonas-Tornfors{
    font-size:12px;
    display:block;
    background-color:white;
    border-radius:5px;
    float:right;
    text-align:right;
    margin:10px;
}